.home_logo{
    // background-image: url("../../../assets/images/logo_blue.png");
    // background-repeat: no-repeat;
    margin-left: 60px;
    margin-top: 40px;
    width: 160px;
    height: 40px;
}

.profile_info{
    margin-right: 60px;
    margin-top: 40px;
    width: 160px;
    height: 40px;

    .user_name{
        margin-right: 10px;
        font-size: 24px;
        font-weight: bold;
        color: white;
        vertical-align: top;
    }

    img{
        width: 30px;
    }
}

.header{
    position : fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}