<!-- <a [routerLink]="['/home']">Home</a> -->
<!-- <p>home works!</p> -->
<!-- <div *ngIf="show_countrieslisting_page">
    <app-countries-listing></app-countries-listing>
  </div>
  <div *ngIf="show_countrydetails_page">
    <app-country-details></app-country-details>
  </div> -->
  <!-- <div flex>
  <div *ngFor="let country of ">
<div></div>
  </div></div> -->
  <div class="header">
  <div class="float_left">
  <div class="home_logo">
    <img src="/assets/images/logo_white.png" />
  </div>
  </div>
  <div class="float_right">
  <div class="profile_info">
    <span class="user_name">Hi, John</span>
    <img src="/assets/images/icons8-male-user-16.png" />
  </div>
<div class="clear"></div>
</div>
</div>
<app-countries-listing></app-countries-listing>