<div class="background_image">

</div>
<div class="display_countries">
  <form class="mid_section">
    <mat-form-field class="input">
      <mat-label>Country</mat-label>
      <input type="text" placeholder="Pick one" aria-label="Country" matInput [formControl]="myControl"
        [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div class="example-button-container float_right" *ngxPermissionsOnly="['Admin']">     
      <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <img src="\assets\images\icons8-filter-32.png">
        </button>     
    </div>
  </form>
  <div class="listing">
    <div *ngFor="let country of countries" class="countries">
      <img [src]="country.flags.png" alt="{{ country.flags.alt }} Flag" class="flag float_left">
      <p class="country_name">{{ country.name.common }}</p>
      <p class="country_continent">{{ country.continents[0] }}</p>
    </div>
  </div>
</div>