<div class="float_left">
<div>
  <p class="title"> Log in </p><br> 
  <p class="option">Don't have an account? <a class="linked_text" (click)="openSignupPage()"> Sign up</a></p>
</div>

<form class="form_box">
<div class="form_field">
  <input type="email" id="email" name="email" class="input" placeholder=" " required [(ngModel)]="email">
  <label for="email" class="label">Email</label>
</div>
<div class="form_field">
  <input type="password" id="password" name="password" class="input" placeholder=" " required [(ngModel)]="password">
  <label for="password" class="label">Password</label>
</div>
  <div>
  <button type="submit" class="button float_right semi_bold">Log in</button>
  </div>
</form>
</div>
