<div class="container">
  <div class="left_element float_left">
    <div class="logo">
      <img src="/assets/images/logo_blue.png" />
    </div>
    <div class="left_element_content">
      <!-- <router-outlet name="login_outlet"></router-outlet> -->
    <div *ngIf="show_signin_page">
      <app-sign-in (openSignupPageOutput)="signUp()"></app-sign-in>
    </div>
    <div *ngIf="show_signup_page">
      <app-sign-up (openSigninPageOutput)="signIn()"></app-sign-up>
    </div>
    </div>
  </div>
      <div class="background_image float_right">
    </div>
  <div class="clear"></div>
</div>
